@model List<NewsFlow.Web.ViewModels.FeedMetadataViewModel>

@{
    Layout = "_FeedReaderLayout";
    ViewData["Title"] = "NewsFlow: Minimalistic RSS Reader";
}

<div>
    <h3>Oops, it looks empty here...</h3>
    <p>Why not add a feed so we can bring you the latest news?</p>
</div>

