@model NewsFlow.Web.ViewModels.FeedViewModel
@{
    Layout = "_FeedReaderLayout";
    ViewData["Title"] = "NewsFlow: Minimalistic RSS Reader";
}

<div>
    <p>@Model.LastUpdated</p>
    <p>@Model.Name</p>
    <p>@Model.Description</p>
</div>





